body {

		font-weight: 100;
		background-color: #f3f5ff;
		margin: 0px;
		padding: 0px;
		overflow-y: hidden;
		text-decoration: none;
text-decoration: none;

}
#index {
	text-align: center;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
		text-decoration: none;	
		height: 100%;
		width: 100%;
		background-color: #f3f5ff;
	
}
#navm {
	color: #f0fbff;
	height: 100%;
	text-decoration: none;
	width: 100%;
		margin-left: -30px;

	
}

#navm ul {
	margin-top: 13px;
	width: 100%;
	margin-left: -45px;
	margin-bottom: 0px;
	text-align: center;
	display: inline-block;
	text-decoration: none;	
	
	
}
#navm li {
	padding-top: 30px;
	width:23%;
	display: inline-block;
	height: 80px;
	color: black;
	text-decoration: none;
	text-align: center;
	font-weight: 300;
	text-align: center;
	font-family: 'Lato', sans-serif;
		text-decoration: none;	
		font-size: 20pt;
		margin: 0px;
	
	
}

#navm li:hover {
font-weight: 300;
background-color: rgba(66, 236, 255, 0.06);

	
}

#navm li a:hover {
	color: black;
font-weight: 300;	
	text-decoration: none;	
}

#navm li a {
	
	color: black;
	text-align: center;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	
}

.gradient1  {
		background: -webkit-linear-gradient(left, #3e008e 0%, #509f60 100%);
	background: linear-gradient(left, #3e008e, #509f60);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1 {
	background-color: #000;
	margin-top: 0px;
	padding-bottom: 10px;
	width: 100%;
	font-weight: 300;
	font-size: 100px;
	padding-top: 200px; 


}

#pp, #gb{
		border-left: 5px solid rgba(18, 202, 187, 0.54);
}
a #pp, a #rental {
	color: #2c0561;
}

a #gb, a #mi {
	color: #285531;
}


